<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Register</h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">

            <!-- OAuth button that triggers a GET request -->
            <button id="oauthButton" class="btn btn-primary">Login with OAuth</button>


            <!-- Makes POST request to /register route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label for="Role">Role</label>
                <select name="Role" class="form-control">
                  <option name="Role" value="User">User</option>
                  <option name="Role" value="Farmer">Farmer</option>
                  <option name="Role" value="Shop Owner">Shop Owner</option>
                  <option name="Role" value="Delivery Partner">Delivery Partner</option>
                </select>
              </div>
              <button type="submit" class="btn btn-dark">Register</button>
            </form>

          </div>
        </div>
      </div>
      </form>

    </div>
  </div>
  <br>
  <script>
    // Event listener for OAuth button click
    document.getElementById('oauthButton').addEventListener('click', function () {
      const url = 'http://localhost:3000/loginOauth'
      const oauthUrl = `http://localhost:4000/oauth?url=${url}`

      fetch(oauthUrl, {
        method: 'GET',
      })
        .then(response => response.text())
        .then(html => {
          //const container = document.getElementById('container');
          document.body.innerHTML = html;
          window.location.href = 'http://localhost:4000/index';
        })
        .catch(error => {
          console.error('Error during OAuth request:', error);
        });
    });

  </script>
  <%- include('partials/footer') %>